.invest {
    background: #F6F6F6;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    margin-top: -50px 0 0 0;
}

.invest__wrap {
    padding:120px 15px 100px 15px;
    min-height: 100vh;
}

.invest__title {
    padding: 0 15px;
    color: #454545;
}

.invest__title_line {
    margin: 30px 15px;
}

.invest__desc {
    margin-left: 15px;
    font-size: 14px;
    color: #6C6C6C;
}

.invest__item {
    color:#000;
    border-radius: 20px;
    text-align: center;
    padding: 1rem 0;
    margin:15px 0;
}

.invest__item_img {
    max-width: 100px;
}

.invest__item_title {
    font-size: 18px;
    margin: 15px 0;
}

.invest__item_desc {
    font-size: 14px;
    margin-bottom: 35px;
    color: #454545;
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1240px) {
    .invest {
        background: #F6F6F6;
        -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
        margin: -50px 0 0 0;
    }

    .invest__wrap {
        padding:120px 15px 100px 15px;
    }

    .invest__wrap .container-flex {
        display: flex;
        flex-direction: row; 
        align-items: stretch;
    }

    .invest__title {
        padding: 0 15px;
        color: #454545;
    }

    .invest__title_line {
        margin: 30px 15px;
    }

    .invest__desc {
        margin-left: 15px;
        font-size: 14px;
        color: #6C6C6C;
    }

    .invest__item {
        color:#000;
        border-radius: 20px;
        text-align: center;
        padding: 1rem 0;
        margin:15px 0;
        height: 100%;
    }

    .invest__item_img {
        max-width: 100px;
    }

    .invest__item_title {
        font-size: 18px;
        margin: 15px 0;
    }

    .invest__item_desc {
        font-size: 14px;
        margin-bottom: 35px;
        color: #454545;
    }
}