@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/Code-Pro.eot');
    src: url('../fonts/Code-Pro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Code-Pro.woff2') format('woff2'),
        url('../fonts/Code-Pro.woff') format('woff'),
        url('../fonts/Code-Pro.ttf') format('truetype'),
        url('../fonts/Code-Pro.svg#Code-Pro') format('svg');
    font-weight: normal;
    font-style: normal;
}

